s3fs
boto3
botocore
lightgbm==3.1.1
sqlalchemy==1.3.23
matplotlib
seaborn
numpy
pandas
pandas-profiling
pyarrow
rdsutils
ml4risk
tqdm
scikit-learn
mdsutils
shap
scikit-plot
read_protobuf
sofiproto==release-1703
