black
lightgbm==3.2.1
matplotlib
nbstripout
numpy
pandas
pyarrow
s3fs
scikit-learn
scikit-plot
seaborn
shap
smart_open
statsmodels
tqdm
sqlalchemy
psycopg2-binary
rdsutils
ml4risk
superset
openpyxl
click
mlflow
category_encoders
scikit-optimize
optuna
pingouin