bokeh>=1.0.4
boto>=2.48.0
boto3>=1.9.188
botocore>=1.12.188
colorama
dill>=0.3.0
lightgbm>=2.2.3
matplotlib>=3.0.3
numpy>=1.16.5
pandas>=0.24.2
pandas-profiling>=2.8.0
plotly>=2.7.0
psycopg2-binary
pyarrow>=0.14.1
s3fs>=0.3.1
scikit-image>=0.13.1
scikit-learn>=0.20.3
scipy>=1.1.0
seaborn>=0.9.0
SQLAlchemy==1.3.23
statsmodels>=0.9.0
tqdm>=4.32.2
twine>=1.13.0
networkx>=2.5
black
smart-open
pytest==6.2.4
tox>=3.23.1
